@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Navbar Animation

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slideIn ease 0.003s;
  -webkit-animation: slideIn ease 0.003s;
  -moz-animation: slideIn ease 0.003s;
  -o-animation: slideIn ease 0.003s;
  -ms-animation: slideIn ease 0.003s;
}












/* Define the gradient border animation */
@keyframes gradientBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Image container with default border settings */
.image-container {
  position: relative;
  width: 250px; /* Adjust size as needed */
  height: 350px; /* Adjust size as needed */
  border-radius: 20px;
  overflow: hidden;
  background: transparent; /* No border by default */
  border: 5px solid white;
  transition: all 0.2s ease-in-out;
}

/* Hover effect for the image container */
.image-container:hover {
  border: none;
  background: linear-gradient(45deg, #f6ff00, #fea203,  #ee1d24, #ff0080, #c800b7, #98008b, #6700c8, #4600c8);
  background-size: 200% 200%;
  animation: gradientBorder 2s ease infinite;
}

/* Next.js Image component specific styling */
.image {
  position: absolute;
  top: 5px; /* Adjust border size */
  left: 5px; /* Adjust border size */
  right: 5px; /* Adjust border size */
  bottom: 5px; /* Adjust border size */
  border-radius: 15px;
  overflow: hidden;
}


// Progress Bar gradient color

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.gradient-bar {
  background: linear-gradient(45deg, #f6ff00, #fea203,  #ee1d24, #ff0080, #c800b7, #98008b, #6700c8, #4600c8);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}







//.fluent-bg {
  /* Image and Gradient Background */
  //background: 
  //background-size: 150% 100%, cover; /* Gradient size and image cover */
  //background-position: 0% 80%, center; /* Initial gradient position and center the image */

  /* Animation */
  //animation: GradientBackground 15s ease infinite;
  
  //backdrop-filter: blur(20px); /* Blur effect */
  //-webkit-backdrop-filter: blur(20px); /* For Safari */
  //border: 1px solid rgba(255, 255, 255, 0.2); /* Optional: light border for better definition */
//}

/* Keyframes for gradient animation */
@keyframes GradientBackground {
  0% { background-position: 0% 50%, center; }
  50% { background-position: 100% 50%, center; }
  100% { background-position: 0% 50%, center; }
}





// Colorful Background Radial Blur Balls
//:root {
  //--color-bg1: rgb(253, 255, 156); /* Yellow */
  //--color-bg2: rgb(255, 189, 200); /* White pink main Background color */
  //--color1: 255, 31, 83; /*  Red pinkish start section */
  //--color2: 239, 255, 99; /* Orange color */
  //--color3: 255, 119, 0; /* Orange circle middle project timeline */
  //--color4: 214, 0, 242; /* Purple right bottom for start section */
  //--color5:253, 255, 156; /* Yellow circle middle project timeline */
  //--color6: 245, 34, 70; /* Blue top left circle */
  //--color-interactive: 244, 63, 94; /* Purple circle outer color */
  //--circle-size: 3000px; /* No change needed */
  //--blending: hard-light; /* Softer blending mode for Fluent-like feel */
//}

// Dark Background Radial Blur Balls
:root {
  --color-bg1: rgb(253, 255, 156); /* Yellow */
  --color-bg2: rgb(0, 0, 0); /* White pink main Background color */
  --color1: 255, 31, 83; /*  Red pinkish start section */
  --color2: 214, 0, 242; /* Orange color */
  --color3: 255, 31, 83; /* Orange circle middle project timeline */
  --color4: 214, 0, 242; /* Purple right bottom for start section */
  --color5:253, 255, 156; /* Yellow circle middle project timeline */
  --color6: 245, 34, 70; /* Blue top left circle */
  --color-interactive: 244, 63, 94; /* Purple circle outer color */
  --circle-size: 3000px; /* No change needed */
  --blending: hard-light; /* Softer blending mode for Fluent-like feel */
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(15%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

@keyframes moveVerticalOpposite {
  0% {
    transform: translateY(50%);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(50%);
  }
}

@keyframes moveHorizontalOpposite {
  0% {
    transform: translateX(-50%) translateY(10%);
  }
  50% {
    transform: translateX(-15%) translateY(-10%);
  }
  100% {
    transform: translateX(-50%) translateY(10%);
  }
}

@keyframes animate-infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animation-infinite-scroll {
  animation: animate-infinite-scroll 25s linear infinite;
}

.gradient-bg {
  // position: relative;
  background: var(--color-bg2);
  overflow: hidden;

  .gradient-container {
    position: relative;

    top: 0;
  }

  .g1 {
    z-index: -5;
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color1), 0.8) 0,
        rgba(var(--color1), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 0.8;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color2), 0.8) 0,
        rgba(var(--color2), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 0.8;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color3), 0.8) 0,
        rgba(var(--color3), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 80%);
    left: calc(50% - var(--circle-size) / 2 - 90%);

    transform-origin: 50%;
    animation: moveInCircle 20s linear infinite;

    opacity: 0.8;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color4), 0.8) 0,
        rgba(var(--color4), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% + 100px);
    animation: moveHorizontal 20s ease infinite;

    opacity: 0.8;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color5), 0.8) 0,
        rgba(var(--color5), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size));
    height: calc(var(--circle-size));
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 15%) calc(50%);
    animation: moveInCircle 10s ease infinite;

    opacity: 1;
  }

  .g6 {
    position: absolute;
    background: radial-gradient(
        rgba(var(--color6), 0.5) 0,
        rgba(var(--color6), 0) 40%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(18% - var(--circle-size) / 2);
    right: calc(10% - var(--circle-size) / 4);

    transform-origin: 50%;
    animation: moveHorizontalOpposite 20s ease infinite;

    opacity: 0.8;
  }
}
